<div class="login-page">
  <a routerLink="/">
    <img
      src="/assets/trello-logo.svg"
      alt="logo img"
      class="trello-main-logo"
    />
  </a>
  <div class="form-container">
    <div class="login-header">Register to Trello</div>
    <div *ngIf="errorMessage" class="errors">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        class="login-input"
        placeholder="Email"
      />
      <input
        formControlName="username"
        type="text"
        class="login-input"
        placeholder="Username"
      />
      <input
        formControlName="password"
        type="password"
        class="login-input"
        placeholder="Password"
      />
      <button type="submit" class="login-submit-button">Register</button>
    </form>
    <div class="bottom-form-links">
      <a routerLink="/login" class="register-link"> Sign in</a>
    </div>
  </div>
</div>
